modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev"

[[workflows.workflow]]
name = "dev"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35687
externalPort = 3002

[[ports]]
localPort = 35723
externalPort = 6000

[[ports]]
localPort = 35959
externalPort = 8080

[[ports]]
localPort = 37249
externalPort = 8000

[[ports]]
localPort = 38577
externalPort = 3003

[[ports]]
localPort = 38807
externalPort = 3001

[[ports]]
localPort = 39423
externalPort = 8008

[[ports]]
localPort = 40169
externalPort = 3000

[[ports]]
localPort = 40427
externalPort = 8081

[[ports]]
localPort = 43517
externalPort = 5000

[[ports]]
localPort = 43875
externalPort = 5173

[[ports]]
localPort = 44861
externalPort = 6800

[[ports]]
localPort = 45111
externalPort = 9000

[[ports]]
localPort = 45405
externalPort = 4200

[[ports]]
localPort = 46515
externalPort = 8099

[deployment]
deploymentTarget = "autoscale"
run = ["python", "server.py"]

[userenv]

[userenv.shared]
ONESIGNAL_APP_ID = "193da0a0-041a-4a8c-aa55-a0f4e8e0e399"
FIREBASE_API_KEY = "AIzaSyApo_-Y96wRPfJ3zdDWmzOuj3E66c1hFxk"
FIREBASE_AUTH_DOMAIN = "kinder-87e7e.firebaseapp.com"
FIREBASE_PROJECT_ID = "kinder-87e7e"
FIREBASE_STORAGE_BUCKET = "kinder-87e7e.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID = "447252216729"
FIREBASE_APP_ID = "1:447252216729:web:371d0ec1dce02b52db7108"
FIREBASE_VAPID_KEY = "7jLRXnLod9OEeinbF-kPDTXXiCS6cFMtrvmOQ34dzxo"
